<table>
	<tr>
		<% properties.forEach(function(property){ %>
			<th><%= property %></th>
		<% }); %>
		<th>Actions</th>
	</tr>
	<% resources.forEach(function(resource){ %>
		<tr>
		<% properties.forEach(function(property){ %>
			<td><%= resource[property] %></td>
		<% }); %>
			<td>
				<a href="<%= settings.routeStem %>/<%= resource._id %>">View</a>
				<a href="<%= settings.routeStem %>/<%= resource._id %>/edit">Edit</a>
			</td>
		</tr>
	<% }); %>
</table>